@use "../variables" as *;
@use "../mixins" as *;

.button-links {
    width: 100%;

    .content {
        width: 100%;
        font-family: $font-GothamBook;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding: 0;
        font-size: 10px;
        .top-img {
            width: 100%;
            height: 100%;
            aspect-ratio: 500 / 745 ;
            background: url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/minh-phuong/TT1_7030.webp') no-repeat center / cover;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            .main-text {
                font-size: 47px;
                font-family: $font-UVN-Buc-Thu;
                line-height: .9;
                color: #845d34ff;
                margin-bottom: 22%;
                transform: rotate(-6deg);
            }
        }

        .divider-line {
            margin-top: 10%;
            img {
                max-width: 174px;
                width: 100%;
                height: auto;
            }
        }

        .link-box {
            .description {
                font-size: 10.6px;
                line-height: 1.8;
                margin: 8% 0 4%;
                text-transform: uppercase;
                color: $text-color;
            }
        }
       

        .btn-box {
            @include flex-center;
            margin-bottom: 8%;
            .action-btn {
                width: 55%;
                font-family: $font-GothamBook;
                text-decoration: none;
                padding: 1.5% 0 2%;
                background: $title-color;
                color: white;
                border: none;
                border-radius: 8px;
                font-weight: 300;
                font-size: 10.6px;
                cursor: pointer;
                text-transform: uppercase;
                letter-spacing: 1px;
                transition: background 0.3s ease;
                margin: 2% 0 2%;
                display: block;
            }
        }

        .bottom-img {
            width: 100%;
            aspect-ratio: 500 / 177;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    @media (max-width: 500px) {
        .content {
            .top-img {
                .main-text {
                    font-size: calc((47 / 500) * 100vw);
                }
            }

            .divider-line {
                img {
                    max-width: calc((174 / 500) * 100vw);
                }
            }

            .link-box {
                .description {
                    font-size: calc((10.6 / 500) * 100vw);
                }
            }

            .btn-box {
                .action-btn {
                    font-size: calc((10.6 / 500) * 100vw);
                }
            }

        }
    }
}

.qrcode-box {
    display: flex;
    flex-direction: row-reverse;
}

.qrcode-box .item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.qrcode-box .item .info {
    margin-bottom: 2%;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.qrcode-box .item .qrcode-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qrcode-box .item .qrcode-img img {
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

div:where(.swal2-container) div:where(.swal2-html-container) {
    padding: 0 !important;
}

/* QR code */
div:where(.swal2-container) img:where(.swal2-image) {
    margin: 0 auto 1em !important;
}

@media (max-width: 500px) {
    div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
        font-size: calc((16 / 500) * 100vw);
    }

    .qrcode-box .item .info {
        font-size: calc((14 / 500) * 100vw);
    }

    div:where(.swal2-container) div:where(.swal2-actions) {
        margin: calc((20/500) * 100vw);
    }
}