@use "../variables" as *;
@use "../mixins" as *;

.couple-block {
    width: 100%;
    .content {
        width: 100%;
        background: url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/minh-phuong/bg_01.webp') no-repeat top / contain; 
        aspect-ratio: 500 / 380;
        display: flex;
        justify-content: end;
        flex-direction: column;
        .main-img {
            position: relative;
            @include flex-center;
            img {
                max-width: 216px;
                width: 100%;
                height: auto;
            }
            .text-block {
                position: absolute;
                bottom: 6%;
                font-family: $font-gothamLight;
                color: #1d1e1eff;
                .couple-name {
                    text-transform: uppercase;
                    font-size: 10px;
                }
                .date {
                    font-size: 10px;
                }
            }
        }
    }
    @media (max-width: 500px) {
        .content {
            .main-img {
                img {
                    max-width: calc((216 / 500) * 100vw);
                }
                .text-block {
                    .couple-name {
                        font-size: calc((10 / 500) * 100vw);
                    }
                    .date {
                        font-size: calc((10 / 500) * 100vw);
                    }
                }
            }
        }
    }
}