@use "../variables" as *;
@use "../mixins" as *;

.highlight {
    width: 100%;
    .content {
        width: 100%;
        aspect-ratio: 500 / 600;
        position: relative;
        perspective: 1000px;

        img.highlight_couple_img {
            position: absolute;
            width: 100%;
            max-width: 62%;
            left: 0;
        }

        img.group_flower {
            position: absolute;
            width: 100%;
            max-width: 68%;
            right: 0;
            bottom: 0;
        }

        .sparkle-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: visible;
            pointer-events: none;
            z-index: 3;
          }
    }
}

.sparkle {
    position: absolute;
    width: 10px;
    height: 10px;
    background: radial-gradient(circle, rgba(255,255,255,0.9), rgba(255,255,255,0));
    border-radius: 50%;
    filter: drop-shadow(0 0 6px #fff);
    opacity: 0;
}