@use "../variables" as *;
@use "../mixins" as *;

.invite {
    width: 100%;
    .content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-family: $font-GothamBook;
        padding-top: 5%;
        padding-bottom: 15%;

        .names-block {
            font-family: $font-UVN-Buc-Thu;
            font-size: 64px;
            line-height: .8;
        }

        .location-block {
            width: 100%;
            margin-top: 15%;
            .datetime-block {
                .label {
                    margin-bottom: 2%;
                    font-size: 10px;
                    color: #231f20ff;
                }
                .time {
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 27px;
                }
            }
            .divider {
                margin: 7% 0 2%;
                img {
                    max-width: 20px;
                    width: 100%;
                    height: auto;
                }
            }
            .name  {
                font-size: 58px;
                font-family: $font-UVN-Buc-Thu;
                font-weight: 300;
            }

            .address {
                font-size: 10px;
                color: #231f20ff;
                font-family: $font-GothamBook;
                font-style: italic;
                margin-top: 1%;
            }
            .btn-wrap {
                margin-top: 4%;
                @include flex-center;
                .map-btn {
                    display: block;
                    text-decoration: none;
                    color: #fff;
                    font-size: 12px;
                    font-family: $font-SVN-Gilroy-Bold;
                    width: 158px;
                    padding: 1% 0;
                    background-color: $title-color;
                    border-radius: 15px;
                }
            }
        }
    }

    @media (max-width: 500px) {
        .content {
            .ivitation-img {
                max-width: calc((323 / 500) * 100vw);
            }

            .names-block {
                font-size: calc((64 / 500) * 100vw);
            }
    
            .location-block {
                .datetime-block {
                    .label {
                        font-size: calc((10 / 500) * 100vw);
                    }
                    .time {
                        font-size: calc((27 / 500) * 100vw);;
                    }
                }
                .divider {
                    img {
                        max-width: calc((20 / 500) * 100vw);
                    }
                }
                .name  {
                    font-size: calc((58 / 500) * 100vw);
                }
    
                .address {
                    font-size: calc((10 / 500) * 100vw);
                }
                .btn-wrap {
                    .map-btn {
                        font-size: calc((12 / 500) * 100vw);
                        width: calc((158 / 500) * 100vw);
                    }
                }
            }
        }
    }
}
