@use "../variables" as *;
@use "../mixins" as *;

.rsvp {
    width: 100%;
    background: url('../../assets/images/rsvp_bg.png') no-repeat bottom right / 52%;
    .content {
        width: 100%;
        font-family: $font-GothamBook;
        color: $text-color;
        .header {
            img.decoration {
                width: 174px;
                height: auto;
                margin: 10% 0 5%;
            }
            .title {
                font-family: $font-UVN-Buc-Thu;
                font-size: 50px;
                color: $title-color;
                font-weight: 300;
            }
           
            p {
                line-height: 1.8;
                text-transform: uppercase;
            }
            p.lead {
                margin: 5% 0 3%;
            }
            .divider {
                margin-bottom: 3%;
                img {
                    max-width: 12px;
                    width: 100%;
                    height: auto;
                }
            }
        }

        .rsvp-form {
            display: block;
            padding: 5% 9%;

            .divider-line {
                margin-top: 5%;
                margin-bottom: 8%;
                img {
                    width: 100%;
                    height: auto;
                }
            }

            .button-group {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 6%;
                margin-bottom: 2%;

                .radio-wrapper {
                    position: relative;
                }

                .radio-wrapper input[type="radio"] {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                }

                .radio-label {
                    display: block;
                    padding: 4%;
                    border-radius: 8px;
                    background: transparent;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    text-transform: uppercase;
                    text-align: center;
                    border: 2px solid $title-color;
                    color: $title-color;
                    font-size: 10.6px;
                    line-height: 1;
                    &:hover {
                        background: $title-color;
                    }
                }

                .radio-wrapper input[type="radio"]:checked + .radio-label {
                    background: $title-color;
                    color: white;
                }
            }

            .form-group {
                margin-bottom: 2%;

                input[type="text"],
                input[type="number"],
                textarea {
                    font-family: $font-GothamBook;
                    width: 100%;
                    padding: 2% 3%;
                    border-radius: 8px;
                    border: 2px solid $title-color;
                    background: transparent;
                    font-size: 10px;
                    color: $text-color;
                    outline: none;
                    transition: border-color 0.3s ease;
                    // text-transform: uppercase;
                }

                input[type="text"]:focus,
                input[type="number"]:focus,
                textarea:focus {
                    outline: none;
                }

                textarea {
                    aspect-ratio: 500 / 120;
                    resize: vertical;
                    font-family: inherit;
                }

                textarea::placeholder {
                    white-space: pre-line; /* Cho phép hiển thị xuống dòng trong placeholder */
                }
            }

            .form-group.guest-number {
                display: flex;
                justify-content: space-between;
                label {
                    width: 35%;
                }

                input {
                    width: 62%;
                }
            }

            .form-group.dietary {
                margin: 8% 0 2%;
                .dietary-label {
                    font-size: 15px;
                    font-family: $font-gothamLight;
                    margin-bottom: 4%;
                }
            }

            .form-group.another {
                margin-bottom: 8%;
            }

            // .form-group.guest-info {
            //     margin-bottom: 8%;
            //     .dietary-label {
            //         margin-bottom: 2%;
            //     }
            //     .subtitle {
            //         margin-bottom: 3%;
            //     }
            // }


            .message {
                text-align: center;
                margin: 10% 0 4%;
                p {
                    margin-bottom: 2%;
                }
            }
    
            .submit-btn {
                width: 39%;
                padding: 2% 0;
                background: $title-color;
                color: white;
                border: none;
                border-radius: 8px;
                font-size: 15px;
                cursor: pointer;
                text-transform: uppercase;
                letter-spacing: 1px;
                transition: background 0.3s ease;
                margin: 5% 0 10%;
            }
    
            .submit-btn:hover {
                background: rgb(128, 47, 85);
                opacity: 0.9;
            }
    
            .submit-btn:active {
                transform: scale(0.98);
            }
    
        }
    }

    .text-size-10 {
        font-size: 10.6px;
    }

    .text-size-8 {
        font-size: 8px;
    }

    @media (max-width: 500px) {
        .content {
            .header {
                img.decoration {
                    width: calc((174 / 500) * 100vw);
                }
    
                .title {
                    font-size: calc((50 / 500) * 100vw);
                }
            
                .divider {
                    img {
                        max-width: calc((12 / 500) * 100vw);
                    }
                }
            }

            .text-size-10 {
                font-size: calc((10.6 / 500) * 100vw);
            }
        
            .rsvp-form {
                .button-group {
                    .radio-label {
                        font-size: calc((10.6 / 500) * 100vw);
                    }
                }

                .form-group {
                    input[type="text"],
                    input[type="number"],
                    textarea {
                        font-size: calc((10 / 500) * 100vw);
                    }
                }

                .form-group.dietary {
                    .dietary-label {
                        font-size: calc((15 / 500) * 100vw);
                    }
                }

                .submit-btn {
                    font-size: calc((15 / 500) * 100vw);
                }
            }
        }
    }
}