@use "variables" as *;
@use "mixins" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-size: 12px;
    margin: 0;
    overflow-x: hidden;
    @include flex-center;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    max-width: 500px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: $primary-color;
    box-shadow: $shadow-default;
    color: $title-color;
}

/* music */
.player {
    position: fixed;
    bottom: 10px;
    right: 1%;
    max-width: 55px;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 9999;
    border: 1px solid var(--text-title-color);
}

.player #iconSvg {
    width: 100%;
    height: 100%;
    fill: var(--text-title-color);
}

.spin {
    animation: spin 4s linear infinite;
}

.text-title {
    font-size: 58px;
    color: $title-color;
    font-family: $font-UVN-Buc-Thu;
    font-weight: 300;
}

/* Định nghĩa hoạt ảnh xoay */
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@media (max-width: 500px) {
    .player {
        max-width: calc((55 / 500) * 100vw);
    }

    .text-title {
        font-size: calc((58 / 500) * 100vw);;
    }
}