
@font-face {
    font-family: 'SVN-Gotham';
    src: url('../../assets/fonts/SVN-Gotham.woff2') format('woff2'),
        url('../../assets/fonts/SVN-Gotham.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-GothamBold';
    src: url('../../assets/fonts/SVN-GothamBold.woff2') format('woff2'),
        url('../../assets/fonts/SVN-GothamBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-GothamLight';
    src: url('../../assets/fonts/SVN-GothamLight.woff2') format('woff2'),
        url('../../assets/fonts/SVN-GothamLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-GothamBook';
    src: url('../../assets/fonts/SVN-GothamBook.woff2') format('woff2'),
        url('../../assets/fonts/SVN-GothamBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-GothamBookItalic';
    src: url('../../assets/fonts/SVN-GothamBookItalic.woff2') format('woff2'),
        url('../../assets/fonts/SVN-GothamBookItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hikary';
    src: url('../../assets/fonts/1FTV-Eastin-Hikary.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MTD Portrait';
    src: url('../../assets/fonts/MTD-Portrait-Script-Bounce.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MTD Doppelganger';
    src: url('../../assets/fonts/MTD-Doppelganger-Display.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Gilroy-Bold';
    src: url('../../assets/fonts/SVN-Gilroy-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVN Buc Thu';
    src: url('../../assets/fonts/UVN Buc Thu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '1FTV-Blushing-Rose';
    src: url('../../assets/fonts/1FTV-Blushing-Rose.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '1FTV-VIP-Qerginas-Frenchstyle-Serif';
    src: url('../../assets/fonts/1FTV-VIP-Qerginas-Frenchstyle-Serif.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ICIELBCOLDSTYLE';
    src: url('../../assets/fonts/ICIELBCOLDSTYLE-REGULAR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}