$shadow-default: 0 10px 20px rgba(0, 0, 0, 0.482);
$radius: 14px;

// Colors
$title-color: #5e0d10ff;
$text-color: #231f20ff;
$primary-color: #eae0cfff;
$secondary-color: #ebd6dd;
$bg-color: #fff;

// Font
$font-MTD-Portrait: 'MTD Portrait', sans-serif;
$font-MTD-Doppelganger: 'MTD Doppelganger', sans-serif;
$font-Gotham: 'SVN-Gotham', sans-serif;
$font-GothamBook: 'SVN-GothamBook', sans-serif;
$font-gothamBold: 'SVN-gothamBold', sans-serif;
$font-gothamLight: 'SVN-GothamLight', sans-serif;
$font-gothamLightItalic: 'SVN-GothamBookItalic', sans-serif;
$font-SVN-Gilroy-Bold: 'SVN-Gilroy-Bold', sans-serif;
$font-UVN-Buc-Thu: 'UVN Buc Thu', sans-serif;

$font-1FTV-Blushing-Rose: '1FTV-Blushing-Rose',  sans-serif;
$font-1FTV-VIP-Qerginas-Frenchstyle-Serif: '1FTV-VIP-Qerginas-Frenchstyle-Serif',  sans-serif;
$font-ICIELBCOLDSTYLE: 'ICIELBCOLDSTYLE',  sans-serif;

// Animation
$duration-fast: 0.5s;
$duration-slow: 1.2s;
